doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title=title
    body
    .form-group
        label(for='name') Name
        input.form-control(type='name', name='name' placeholder='holder' value=value)