.modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(6, 6, 6, 0.713);
}
.modalStream {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 50%;
  height: 60%;
  /* width: 100%;
  height: 100%; */
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid #1eb2a6;
}
.reSizeMode {
  position: absolute;
  top: 5px;
  right: 0px;
  padding-top: 5px;
  margin: 0px 10px;
  background: none;
  border: none;
  z-index: 1;
  opacity: 0.1;
  transition: 0.25s;
}
.boxCall {
  background-color: aqua;
  border-radius: 10px 10px 0px 0px;
  flex-grow: 2;
  position: relative;
}
.boxCall:hover .reSizeMode {
  opacity: 0.8;
}
.videoRemote {
  position: absolute;
  width: 100%;
  height: 99.7%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.localStream {
  max-width: 214px;
  max-height: 120px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  border: 0.5px solid #1eb2a6;
  border-radius: 5px;
  background-color: green;
}
.videoLocal {
  border-radius: 5px;
  width: 214px;
  height: 118px;
  object-fit: cover;
}
.boxCallAction {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 0px;
  border-radius: 0px 0px 10px 10px;
}
.actionItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.actionItem button {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  padding-top: 5px;
  margin: 0px 10px;
  background: none;
  border: 1px solid #1eb2a6;
}
